<div class="col-md-4">
  <%= image_tag(@profile.profile_image.large, class: "img-responsive profile-img") if @profile.profile_image? %>
  <h3><%= @profile.first_name %>'s Memberships</h3>
  <table class="table table-striped">
    <thead>
      <th>Memberships</th>
      <th>Joined</th>
    </thead>
    <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= link_to membership.group.name, group_path(membership.group.id) %></td>
        <td><%= membership.joined %></td>
      </tr>
    <% end %>
    <tbody>
  </table>
</div><!--end col-md-4-->
<div class="col-md-8">
  <% if can? :manage, @profile %>
    <p><%= link_to 'Edit Profile', edit_profile_path(@profile) %></p>
  <% end %>
  <h1><%= @profile.full_name %> <small>@<%= @profile.screen_name %></small></h1>
</div><!--end col-md-8-->
