<div class="col-md-3">
  <div class="thumbnail group">
    <div class="caption text-center">
      <%= link_to group do %>
        <%= image_tag(group.featured_image.medium) if group.featured_image? %>
      <% end %>
      <h3><%= link_to truncate(group.name, length: 25, separator: ' '), group, class: "group-name" %><br/><small><%= group.location.city %>, <%= group.location.state %></small></h3>

      <% if can? :manage, group %>
        <%= link_to "Edit", edit_group_path(group), class: "edit-link pull-left" %>
        <%= link_to "Delete", group, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-link pull-right" %>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
</div>