<div class="col-md-4">
  <%= image_tag(@group.featured_image.large, class: "img-responsive group-img") if @group.featured_image? %>
  <h3>Up Coming Events <%= link_to 'Add an Event', new_group_event_path(@group.id) if can? :manage, @group %></h3>
  <table class="table table-striped">
    <thead>
      <th>Event</th>
      <th>Date</th>
    </thead>
    <tbody>
      <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, group_event_path(@group, event) %></td>
        <td><%= event.date.strftime("%b %d, %Y") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Group Members</h3>
  <hr/>
  <% @memberships.each do |member| %>
    <div class="col-md-3">
      <%= image_tag(member.user.profile.profile_image.medium, class: "img-responsive profile-img") if member.user.profile.profile_image? %>
    </div>
    <div class="col-md-9">
      <h4><%= member.user.profile.full_name %><br/><small>@<%= link_to member.user.profile.screen_name, profile_path(member.user.profile.id) %></small></h4>
    </div>
    <div class="clearfix"></div>
  <% end %>
</div><!--end col-md-4-->
<div class="col-md-8">
  <% if can? :manage, @group %>
    <%= link_to 'Edit Group', edit_group_path(@group) %>
  <% end %>
  <h1><%= @group.name %><br/><small><%= @group.location.city_state %></small></h1>
  <h3>Group Est. <small><%= @group.since %></small></h3>
  <p><%= @group.description %></p>
</div><!--end col-md-8-->
