<p>
  <strong>Group:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<%= link_to 'Back to Group', group_path(@group) %> |
<%= link_to 'Edit', edit_group_event_path(@group, @event) %>
