<div class="col-md-8 col-md-offset-2">
  <h3><%= @group.name %> Presents</h3>
  <h1><%= @event.name %></h1>
  <h2><%= @event.venue.name %> - <small><%= @event.date.strftime("%B %d, %Y") %></small></h2>
  <p><%= @event.description %></p>
  <%= link_to 'Back to Group', group_path(@group) %> |
  <%= link_to 'Edit', edit_group_event_path(@group, @event) %>
</div>
