<div class="main-nav-container">
  <ul class="main-nav">
    <li><span class="main-nav-toggle-btn close-btn">X <small>Close</small></span></li>
    <li><%= link_to "<i class='fa fa-home'></i> Home".html_safe, root_path() %></li>
    <li><%= link_to "<i class='fa fa-newspaper-o'></i> About".html_safe, about_path() %></li>
    <li><%= link_to "<i class='fa fa-cubes'></i> Services".html_safe, services_path() %></li>
    <% if current_user %>
      <li><%= link_to "<i class='fa fa-bar-chart-o'></i> Dashboard".html_safe, '#' %></li>
      <li><%= link_to "<i class='fa fa-cogs'></i> Settings".html_safe, edit_user_registration_path %></li>
      <li><%= link_to "<i class='fa fa-user-times'></i> Log Out".html_safe, destroy_user_session_path, method: :delete  %></li>
    <% else %>
      <li><%= link_to "<i class='fa fa-user'></i> Log In".html_safe, new_user_session_path() %></li>
    <% end %>
  </ul>
</div>